#index
  margin: 0
  overflow: hidden
  height: 100%
  width: 100%
  background: #e6d6c6

  & #legend
    position: absolute
    bottom: 1rem
    width: 100%
    text-align: center

    & svg
      width: 800px
      max-width: 90%
